@import url(https://fonts.googleapis.com/css?family=Lato:400);

body {
    background-color: #5C4B51;
    color: #F2EBBF;
    margin: 0;
    padding: 0;
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Lato', sans-serif;
}

a{
    color: inherit;
}
 a:hover, a:visited{
     color: #F3B562;
     text-decoration: none;
 }

 img{
     width: 3em;
     height: 3em;
 }

 .row{
     margin-left: 5%;
     margin-right: 5%;
 }

/*=================== TESTS =======================*/
 #colorsPallet{
     color: #5C4B51;
     color: #8CBEB2;
     color: #F2EBBF;
     color: #F3B562;
     color: #F06060;
 }